{% extends "html/home.html" %}
{% block content %}
<section class="text-center">
    <form class="myform  text-center" action="update/" method="POST">
        <h1> Add Records </h1>

        <div class="container">
            <div class="row">
                <div class="col">
                    <label role="name">name</label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% if name %}
                <div class="col">
                    <input type="text" required id="name" name="name" value="{{name}}">
                </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                
                <div class="col">
                    <label role="name">Product</label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">  
                {% if product %}
                <div class="col">
                    <input type="text" required id="product" name="product" value="{{product}}">
                </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <label role="name"  >Price</label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row"> 
                {% if amount %}
                <div class="col">
                    <input type="text"  required id="price" name="amount" value="{{amount}}">
                </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <label role="name">Description <style</label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% if description %}
                <div class="col">
                    <input type="text" required id="product" name="d" value="{{description}}">
                </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <button type="submit" class="btn btn-success"> Save </button>
        </div>
        {% csrf_token %}
    </form>
</section>
{% endblock %}