footer{
     display: flex;
     flex-direction: column;
    background:#739DF3;
     margin-top: 150px;
     height: 100px;
     text-align: center;

    
}


.ref-2{
    width: 300px
}

.navbar{
      background:#739DF3;
}
.mydata{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
.form{
    display: flex;
flex-direction: column;
margin-top: 15px;
margin-bottom: 15px;
text-align: center
}

input[type="text"],input[type="password"],
 input[type="email"], input[type="file" ],
 button[type="submit"], select[type="select"],
 textarea[type="textarea"]{

    width: 300px;
    padding:10px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.btn{
    width: 150px
}

th{
    
    background: #739DF3;
}


th,td{
    width: 150px;
    height: 20px;
    border: 1px solid black;
}
